.page-title {
  margin-top: 0;
}

.main-page-title {
  margin-bottom: 3rem;
}

.track_form {
    background-color: #ebebeb;
    -webkit-box-shadow: 0 2px 17px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 17px #0000001f;
    padding: 40px 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.track_inner {
    display: flex;
    justify-content: center;
}
.track_form input[type=text] {
    font-size: 12px;
    line-height: 19px;
    padding: 14px 8px 16px;
    width: 54%;
    border-radius: 0;
    margin: 0;
    outline: none;
    box-shadow: none;
    border: 1px solid #cccccc;
}
.track_form input[type=button] {
    font-size: 15px;
    font-weight: 400;
    width: auto;
    height: auto;
    line-height: inherit;
    padding: 0 36px;
    border-radius: 0;
    background-color: rgb(var(--color-button);
    color: #fff;
    border: 1px solid #cccccc;
}
@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 4rem;
  }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}
