.product-guarantee {
  padding-top: 20px;
  margin-top: 20px;
  position: relative;
}
.gt-badge {
  padding: 15px;
}
.gt-badge_inner {
  max-width: 160px;
  margin: auto;
  text-align: center;
}
.gt-desc {
  line-height: 1.25;
}
.gt-background {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 70%;
  z-index: -10;
}
@media screen and (min-width: 750px) {
  .product-guarantee {
    display: flex;
    align-items: center;
  }
  .gt-content {
    flex: 0 0 60%;
  }
  .gt-badge {
    flex: 0 0 20%;
  }
  .gt-background {
    height: 100%;
  }
}
@media screen and (max-width: 749px) {
  .gt-background {
    opacity: 40%;
  }
  .gt-content {
    flex: 0 0 60%;
    padding: 0 20px;
  }
  .gt-header {
    text-align: center;
  }
  .product-guarantee {
    padding-bottom: 0;
  }
}
