.product-main {
  padding-top: 20px;
}
.row {
  display: flex;
}
.preview {
  margin-top: 8px;
}
.thumb {
  padding: 0 5px;
  max-width: 18%;
  cursor: pointer;
}
.slick-arrow {
  z-index: 2;
}
.slick-arrow:before {
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  content: " ";
  line-height: 1;
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
}
.slick-prev.slick-arrow::before {
  background-image: url(arrow-left.png);
  left: 0;
}
.slick-next.slick-arrow::before {
  background-image: url(arrow-right.png);
  right: 0;
}
.product-headline,
.product-subtitle {
  line-height: 1.2;
}
.product-headline {
  font-size: 36px;
}
.product-headline span {
  color: #0088e2;
}
.product-info .price {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 30px;
}
.price > * {
  display: inline-block;
  vertical-align: middle;
}
.price-item--sale {
  font-weight: 700;
  color: var(--color-base-accent-1);
}
.price__sale,
.price__availability,
.price .price__badge-sale,
.price .price__badge-sold-out,
.price--on-sale .price__regular,
.price--on-sale .price__availability {
  display: none;
}
.price--sold-out .price__badge-sold-out,
.price--on-sale .price__badge-sale {
  display: inline-block;
}

.price--on-sale .price__sale {
  display: initial;
  flex-direction: row;
  flex-wrap: wrap;
}
.old {
  text-decoration: line-through;
  opacity: 0.7;
}
.sale-tag {
  padding: 2px 30px;
  margin-left: 10px;
  border-radius: 30px;
  background-color: #009dc8;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.1em;
}
.product-form__input input[type="radio"] {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}
.bundle-label {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 8px;
  line-height: 1.2;
  color: #000;
}
.saving-bundles {
  padding-bottom: 20px;
}
.saving-bundle {
  border: 2px solid #d7d7d7;
  border-radius: 10px;
  text-align: center;
  position: relative;
  padding: 17px 10px;
  max-width: 174px;
  cursor: pointer;
  width: 100%;
  background-color: #fff;
}
.saving-bundle div {
  line-height: 1.2;
}
.saving-bundle div:nth-child(2) {
  font-size: 20px;
  font-weight: 700;
}
.saving-bundle div:first-child {
  font-size: 10px;
  font-weight: 600;
  color: #ffffff;
  background-color: #3e4e59;
  border: 1px solid #fff;
  border-radius: 30px;
  position: absolute;
  top: -7px;
  left: -8px;
  padding: 10px 6px;
  text-transform: uppercase;
  font-style: italic;
  line-height: 1;
  transform: rotate(-21deg);
}
.saving-bundle div:first-child span {
  font-size: 15px;
  font-weight: 700;
  display: block;
}
.saving-bundle div:nth-child(5) {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  background-color: #3e4e59;
  border-radius: 4px;
  padding: 6px;
  position: absolute;
  bottom: -14px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 110px;
  color: #fff;
}
.saving-bundle2 {
  margin: 0px 10px;
}
input[type="radio"]:checked + label {
  border: 2px solid #009dc8;
  background-color: #009dc8;
  color: #fff;
}
.cta {
  margin-bottom: 20px;
  margin-top: 15px;
}
.cta-button {
  flex: 0 0 50%;
}
.b-get-btn button {
  width: 100%;
}
.lock-icon {
  width: 20px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}
.safe-checkout {
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
}
.payment-logo-wrapper {
  max-width: 254px;
  margin: auto;
}
.product-subtitle span {
  font-weight: 700;
  color: #0088e2;
}
.review-img {
  flex: 0 0 30%;
  line-height: 0;
  position: relative;
}
.review-img img {
  border-radius: 5px;
}
.review-content {
  font-size: 12px;
  line-height: 16px;
  padding: 0 10px;
}
.review-content > * {
  display: block;
}
.review-content .review {
  margin-bottom: 10px;
  font-style: italic;
}
.verify {
  display: flex;
  align-items: center;
}
.verify span {
  padding-left: 2px;
  color: #038848;
}
.review-card {
  max-width: 400px;
  padding: 5px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  align-items: center;
}
@media screen and (max-width: 749px) {
  .product-main {
    flex-wrap: wrap;
  }
  .product-headline {
    font-size: 23px;
    text-align: center;
  }
  .product-gallery {
    flex: 100%;
  }
  .mobile-hide {
    display: none;
  }
  .product-subtitle {
    font-size: 14px;
  }
  .price .price-item {
    font-size: 22px;
  }
  .saving-bundles {
    padding-bottom: 6px;
  }
  .bundle-label {
    font-size: 13px;
    margin-bottom: 11px;
  }
  .price-save-stock {
    margin: 19px 0px 10px;
  }

  .b-get-btn button {
    font-size: 15px;
    padding: 13px 0px;
  }
}
@media screen and (max-width: 1024px) {
  .saving-bundle div:nth-child(2) {
    font-size: 14px;
  }
  .saving-bundle div:nth-child(3) {
    font-size: 12px;
  }
  .saving-bundle div:nth-child(4) {
    font-size: 13px;
  }
  .saving-bundle div:first-child span {
    font-size: 10px;
  }
  .saving-bundle div:first-child {
    font-size: 7.5px;
    top: -11px;
    left: -8px;
    padding: 7px 4px;
  }
  .saving-bundle div:nth-child(5) {
    font-size: 9px;
    padding: 5px 6px;
    bottom: -12px;
    max-width: 76px;
  }
  .saving-bundle {
    padding: 10px 0px 15px;
    border-radius: 8px;
  }
  .saving-bundle2 {
    margin: 0px 6px;
  }
  .payment-logos {
    margin: auto;
  }
  .secure-text {
    text-align: center;
  }
  .b-safe-checkout {
    margin-top: 15px;
  }
}
@media screen and (min-width: 750px) {
  .product-gallery {
    flex: 0 0 calc(50% - 15px);
  }
  .product-main {
    gap: 15px;
    padding-top: 50px;
  }
  .product-info {
    flex: 0 0 50%;
  }
  .only-on-mobile {
    display: none;
  }
  .product-headline {
    font-size: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .product-headline {
    font-size: 36px;
  }
  .product-main {
    gap: 50px;
  }
  .product-gallery {
    flex: 0 0 calc(50% - 50px);
  }
  .cta {
    display: flex;
    align-items: center;
  }
}
